# Description: Environment variables for the server application.

# App
PORT=5000
URL=http://localhost:5000

# Database
DB_ENDPOINT=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=secret
DB_SSL_ENABLED=false

# Client
CLIENT_URL=http://localhost:3000
CLIENT_RESET_PASSWORD_PATH=/auth/reset-password

# General Security
COOKIE_ENCRYPTION_SECRET=secret

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5000

# Email
MAIL_SERVICE=ethereal
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_SECURE=false
MAIL_SENDER_NAME=
MAIL_USER=
MAIL_PASS=

# IP to Geo
IP_TO_GEO_ENDPOINT=